@charset "utf-8";
/* Global Styles */
html, body{
	margin: 0;
	background-color: darkgray;
	height: 100%;
	width: 100%;
}

* {
	font-family: 'Source Sans Pro', sans-serif;
}

a {
	color: white;
}

Form input:focus{
	outline: none;
}

ul {
	padding: 0 !important;
	height: auto;
	margin: 0;
}

li {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 100%;
}

/* Header */
.Header {
	background-color: darkred;
	color: white;
	text-align: center;
	height: 7%;
	font-size: 30px;
	min-height: 50px;
	padding: 0;
}

.Header ul {
	width: 100%;
}

.Header ul li {
	min-width: 150px;
}

.Logout {
	width: 20%;
	min-width: 125px;
	font-size: 20px;
	font-family: 'Source Sans Pro', sans-serif;
}

.describe {
	font-size: 20px;
}

/* Content */
.Content {
	overflow: auto;
	height: 86%;
	display: flex;
}

.Content ul {
	width: 100%;
	
}

.Login Form input{
	width: 50%;
	margin: auto;
	background-color: gray;
	color: white;
	font-size: 15px;
	font-family: monospace;
}

.Login Form input::placeholder{
	color: white;
}

.Terminal {
	width: 70%;
	margin: 10px;
	height: auto;
	min-height: 340px;
	
}

.Panel {
	height: 94%; 
	flex-direction: unset; 
	overflow: auto;
}

.Configure {
	width: 30%;
	margin: 10px;
	min-height: 340px;
}

.Login {
	max-width: 600px;
	width: 60%;
	height: 35%;
	margin: auto;
	min-height: 200px;
	max-height: 200px;
}

.Login ul {
	height: 30%;
	
}

.Login ul li div {
	height: 100%;
}

#Control {
	height: 5%;
	min-height: 38.4px;
}

#Control input {
	width: 25%;
	color: white;
}

.scram {
	background: repeating-linear-gradient(
	  45deg,
	  #fec820,
	  #fec820 20px,
	  #1e2221 20px,
	  #1e2221 40px
	);
	font-family: sans-serif;
	font-weight: bold;
}

.SvList {
	width: 40%;
	min-width: 200px;
	margin: 10px;
	height: auto;
	overflow: auto;
}

#ServerList {
	width: 100%;
	max-width: 900px;
	display: unset;
}

.System {
	width: 60%;
	height: auto;
	margin: 10px;
}

.logs {
	color: white;
	background-color: gray;
	border-color: black;
	border-width: 2px;
	border-left-style: solid;
	border-right-style: solid;
	height: 79%;
	margin: 0px;
	overflow: auto;
}

#graph img {
	width: 49%;
	
}

.code {
	width: 100%;
}

#cmd {
	width: 80%;
	min-height: 38.4px;
}

#cmd input {
	height: 100%;
}

#cmdSend {
	width: 20%;
	height: 100%;
	min-height: 39.4px;
}

#cmdform {
	padding: 0;
	display: flex;
	height: 7%;
}

/* Footer */
.footer {
	background-color: gray;
	height: 7%;
	text-align: center;
	color: white;
	font-size: 20px;
	min-height: 50px;
}

@media only screen and (max-height : 850px) {
	.Header {
		min-Height: unset;
	}
	
}

@media only screen and (max-height : 640px) {
	#cmdSend {
		min-height: unset;
	}
	
	#cmd {
		min-height: unset;
	}
	
}

@media only screen and (max-width : 500px) {
	body{
		overflow: auto;
	}

	.Header {
		width: 513px;
	}

	.Login {
		width: 300px;
		height: 227px;
	}
	
	.footer {
		width: 513px;
	}
}