{% extends 'base.html' %}

{% block Header %}
<ul><li id="folder" class="{{ titleColor }}">{{ folder }}</li></ul>
{% endblock %}

{% block Functions %}
<div id="Control" class="w3-bar {{ statustag }}">
	<input class="w3-bar-item w3-button" type="button" id="reboot" name="action" value="Reboot">
	<input class="w3-bar-item w3-button" type="button" id="turn" name="action" value="Turn {{ status }}">
	<input class="scram w3-bar-item w3-button" type="button" id="force" name="action" value="Scram">
	<input class="w3-bar-item w3-button" style="background-color: darkred;" type="button" value="Server List" onclick="location.href='/servers'">
</div>
{% endblock %}

{% block contentStyle %}
height: 81%;
{% endblock %}

{% block Contents %}
<div class="Terminal w3-card-4 w3-center">
	<ul class="Header w3-container w3-black"><li>Terminal</li></ul>
	<pre class="logs">{{ log }}</pre>
	<div class="w3-container w3-black" style="padding: 0; height: 7%"><input type="button" value="word wrap" id="wwb" style="height: 100%;" class="w3-btn w3-left w3-green"></div>
	<form id="cmdform" action="/admin" class="w3-container" method="post">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		<input type="hidden" name="folder" value="{{ folder }}"/>
		<div id="cmd"><input class="w3-input w3-animate-input w3-center" placeholder="Command" autocomplete="off" name="Admin" type="text"></div>
		<button id="cmdSend" type="submit" class="w3-btn w3-black">Enter</button>
	</form>
</div>

<div class="Configure w3-card-4 w3-center">
	<ul class="Header w3-container w3-orange"><li>Configure</li></ul>
	<p></p>	
	<form action="/admin" class="w3-container" method="post">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		<input type="hidden" name="folder" value="{{ folder }}"/>
		<label>Server bat/sh filename</label>
		<select class="w3-select" name="setup">
			{{ execlist | safe }}
		</select>
		<label>Server jar filename</label>
		<select class="w3-select" name="jarfile">
			{{ jarlist | safe }}
		</select>
		<label>Auto Reboot</label>
		<select class="w3-select" name="autoreboot">
			<option value="enable" {{ ar_e }}>Enable</option>
			<option value="disable" {{ ar_d }}>Disable</option>
		</select>
		<p></p>
		<button id="configSend" type="submit" class="w3-btn w3-blue">Send</button>
	</form>
</div>
{% endblock %}

{% block JS %}
$(document).ready(function(){
	var socket = io().connect();
	var locked = true;
	var logs = "";
    socket.on('logs', function(data) {
        if($("#folder").text() == data.folder){
			logs += data.log;
		}
    });
	socket.on('offline', function(data) {
        if($("#folder").text() == data.folder){
			$(".logs div").text($(".logs div").text()+"Server went off.");
			$("#turn")[0].value = "Turn on";
			$("#folder")[0].className = "w3-red";
			$("#Control")[0].className  = "w3-bar offline";
			if(locked){$(".logs").scrollTop($(".logs")[0].scrollHeight);}
		}
    });
	socket.on('online', function(data) {
        if($("#folder").text() == data.folder){
			$(".logs div").text("");
			$("#turn")[0].value = "Turn off";
			$("#folder")[0].className = "w3-green";
			$("#Control")[0].className  = "w3-bar online";
		}
    });
	$('#cmdform').submit(function(event) {
		if ($('#cmd input').val() != ""){
			socket.emit('cmd', {cmd: $('#cmd input').val(), folder: $("#folder").text()});
			$("#cmd input")[0].value = "";
		}
		return false;
    });
	$('#turn').click(function(event) {
        socket.emit('cmd', {cmd: "stop", folder: $("#folder").text()});
		if($("#turn")[0].value == "Turn on"){$("#turn")[0].value = "Turn off";}
		else{$("#turn")[0].value = "Turn on";}
        return false;
    });
	$(".logs").on("scroll", function(event){
		pos = $(event.currentTarget);
		if(pos[0].scrollHeight - pos.scrollTop() <= pos.outerHeight() + 25){locked = true;}
		else{locked = false;}
	});
	var setwwb = function(){
		if(docCookies.getItem("wordwrap") == "true"){
			$(".logs")[0].setAttribute("style", "text-align: left; white-space: pre-wrap; overflow-wrap: anywhere;");
			$("#wwb")[0].className = "w3-btn w3-left w3-green";
		}
		else{
			$(".logs")[0].setAttribute("style", "text-align: left;");
			$("#wwb")[0].className = "w3-btn w3-left w3-red";
		}
	};
	$("#wwb").click(function(){
		docCookies.setItem("wordwrap", !(docCookies.getItem("wordwrap") == "true"), Infinity);
		setwwb();
	});
	setwwb();
	$("#force").click(function(){
		socket.emit('forcestop', {folder: $("#folder").text()});
	});
	$("#reboot").click(function(){
		socket.emit('reboot', {folder: $("#folder").text()});
	});
	$(".logs").scrollTop($(".logs")[0].scrollHeight);

	function sleep(ms){return new Promise(r => setTimeout(r, ms))};
	async function logUpdate(){
		while(true){
			if(logs){
				$('.logs').text($('.logs').text() + logs);
				if(locked){$(".logs").scrollTop($(".logs")[0].scrollHeight);}
				logs = "";
			}
			await sleep(200);
		}
	};
	logUpdate();
});
{% endblock %}
