{% extends 'Base.html' %}

{% block Contents %}
<p></p>
<div class="w3-card-4 w3-center">
	<div class="w3-container w3-green"><h2 id="folder">{{ folder }}</h2></div>
	<form method="post" action="/admin" id="Control" class="w3-bar">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		<input type="hidden" class="disable" name="folder" value="{{ folder }}"/>
		<input class="w3-bar-item w3-button" type="submit" name="action" value="Turn {{ status }}">
		<input class="w3-bar-item w3-button" type="button" value="Server List" onclick="location.href='/servers'">
		<input class="w3-bar-item w3-button" type="button" value="Logout" onclick="location.href='/logout'">
	</form>
</div>

<div class="space"></div>

<div class="w3-card-4 w3-center">
	<div class="w3-container w3-blue"><h2>Send Commands</h2></div>
	<p></p>
	<div id="log" style="overflow:scroll; max-height:400px">
		<li class="w3-bar">
		  <div class="w3-bar-item">
			<pre id="logs" style="text-align: left;">{{ log }}</pre>
		  </div>
		</li>
	</div>
	<form id="cmdform" action="/admin" class="w3-container" method="post">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		<input type="hidden" name="folder" value="{{ folder }}"/>
		<p> </p>
		<div id="secret" class="code"><input class="w3-input w3-animate-input w3-center" placeholder="CommandLine" name="Admin" type="password"></div>
		<button id="cmdSend" type="submit" class="w3-btn w3-blue">Send</button>
	</form>
</div>

<div class="space"></div>

<div id="configure" class="w3-card-4 w3-center">
	<div class="w3-container w3-orange"><h2>Configure</h2></div>
	<p></p>	
	<form action="/admin" class="w3-container" method="post">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		<input type="hidden" name="folder" value="{{ folder }}"/>
		<label>Server bat filename</label>
		<select class="w3-select" name="setup">
			{{ batlist | safe }}
		</select>
		<label>Server jar filename</label>
		<select class="w3-select" name="jarfile">
			{{ jarlist | safe }}
		</select>
		<p></p>
		<button id="cmdSend" type="submit" class="w3-btn w3-blue">Send</button>
	</form>
</div>
{% endblock %}

{% block JS %}
$(document).ready(function(){
    var socket = io();
    socket.on('logs', function(data) {
        if($("#folder").text() == data.folder){$('#logs').append(data.log);}
    });
	socket.on('offline', function(data) {
        if($("#folder").text() == data.folder){
			$("#logs")[0].innerHTML = "Server went off."
			$("form input")[2].value = "Turn on";
		}
    });
	$('#cmdform').submit(function(event) {
        socket.emit('cmd', {cmd: $('#secret input').val(), folder: $("#folder").text()});
        return false;
    });
});
{% endblock %}