{% extends 'base.html' %}

{% block Header %}
<ul><li>Minecraft Server Controller</li></ul>
{% endblock %}

{% block Contents %}
<ul>
	<li>
		<div class="Login w3-card-4 w3-center">
			<ul class="Header w3-container w3-blue">
				<li>
					Login
				</li>
			</ul>
			<div class="describe w3-text-blue"> Please Login to continue. </div>
			<form action="/" class="w3-container" method="post">
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
				<p>
					<div id="secret" class="code"><input class="w3-input w3-animate-input w3-center" placeholder="Password" name="Admin" type="password"></div>
				</p>
				<button type="submit" class="w3-btn w3-blue">Enter</button>
				<p></p>
			</form>
		</div>
	</li>
</ul>


{% endblock %}
