{% extends 'base.html' %}

{% block Header %}
<ul><li>Minecraft Server Controller</li></ul>
{% endblock %}

{% block Contents %}
<p></p>
<div class="SvList w3-card-4 w3-center">
	<ul class="Header w3-container w3-green"><li>ServerLists</li></ul>
	<form action="/admin" id="ServerList" class="w3-bar" style="width:100%; max-width:900px;" method="post">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		{{ folders | safe }}
	</form>
</div>

<div class="System w3-card-4 w3-center">
	<ul class="Header w3-container w3-black"><li>System Info</li></ul>
	{{ Info | safe }}
</div>
{% endblock %}

{% block JS %}
$(document).ready(function(){
    var socket = io();
	socket.on('online', function(data) {
        $("input[value='" + data.folder + "']")[0].className = "w3-button w3-block w3-green";
    });
	socket.on('offline', function(data) {
        $("input[value='" + data.folder + "']")[0].className = "w3-button w3-block w3-red";
    });
});
{% endblock %}
